
<div class="container">

	<div class="jumbotron">
	  <h1>NYT News Scraper</h1>
	  
	  <p><form action="/scrape" method="GET"><button type="submit" class="btn btn-default">
	    Scrape for News!
	  </button></form></p>

	  <p><form action="/saved" method="GET"><button type="submit" class="btn btn-default">
	    Saved Articles
	  </button></form></p>
	</div>


	{{#each article}}
		<div class="article">
			<h3>
				<a href="{{this.link}}" target="_blank">{{this.title}}</a>
				<form action="/marksaved/{{this._id}}" method="GET">
			</h3>
					<button type="submit" class="btn-default float-right article">Save</button>
				</form>
			
		</div>
		{{/each}}


</div>  